html,
body {
  margin: 0;
  padding: 0;
  font-family: serif, 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

input {
  outline: none;
  border: none;
  width: 98%;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #a5a1a1;
}

input::placeholder {
  color: #a5a1a1;
  font-size: 1rem;
}

.container {
  max-width: 500px;
  width: 50%;
  margin: 250px auto;
  padding: 15px 10px;
  border: 2px solid #a5a1a1;
  box-shadow: 10px 5px 10px 5px rgba(15, 14, 14, 0.3);
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heading h1 {
  color: #a5a1a1;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

img {
  width: 30px;
  height: 30px;
  margin: 0;
}

#todo-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

#todo-list li {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0;
}

#todo-list li > input {
  width: 5%;
}

#todo-list li > p {
  width: 90%;
  margin: 0;
  padding: 0;
  color: #a5a1a1;
  font-size: 1.5rem;
}

#clear {
  color: #757575;
  font-size: 1rem;
  font-weight: lighter;
}

.done {
  text-decoration: line-through;
  color: #757575;
}
