html,
body {
  margin: 0;
  padding: 0;
  font-family: serif, 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

:root {
  --color-line: #a5a1a1;
  --white: #fff;
  --color-font: #242423;
  --color-check: #cccccb;
}

input {
  outline: none;
  border: none;
  width: 100%;
  font-size: 1.1rem;
  line-height: 2;
  box-sizing: border-box;
  color: var(--color-font);
  border-bottom: 2px solid var(--color-line);
  padding: 0 0 0 0.8em;
}

input::placeholder {
  color: var(--color-line);
  font-size: 1rem;
  font-style: italic;
}

.container {
  box-sizing: border-box;
  position: relative;
  top: 60px;
  max-width: 500px;
  width: 50%;
  margin: auto;
  padding: 0;
  border: 2px solid var(--color-line);
  box-shadow: 2px 2px 10px 1px rgba(165, 161, 161, 0.74);
  -webkit-box-shadow: 2px 2px 10px 1px rgba(165, 161, 161, 0.74);
  -moz-box-shadow: 2px 2px 10px 1px rgba(165, 161, 161, 0.74);
}

.heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-line);
  line-height: 2;
}

.heading h1 {
  color: var(--color-font);
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0 0 0 0.8em;
}

img {
  width: 20px;
  height: 20px;
  margin: 0 0.8em 0 0;
}

.heading > img {
  width: 15px;
  height: 15px;
  margin: 0 0.9em 0 0;
}

#todo-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

#todo-list li {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  border-bottom: 2px solid var(--color-line);
  line-height: 2;
  padding: 0 0 0 0.8em;
}

#todo-list li > input {
  width: 5%;
  border-bottom: 2px solid var(--color-line);
}

#todo-list li > p {
  width: 90%;
  margin: 0;
  padding: 0;
  color: var(--color-font);
  font-size: 1.1rem;
}

#todo-list li > p:focus {
  border: none;
  outline: none;
  background-color: lightyellow;
}

#clear {
  background-color: var(--white);
  color: var(--color-line);
  font-size: 1.1rem;
}

.done {
  text-decoration: line-through;
  color: var(--color-check);
}
